In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("../../Speed Dating Data.csv")

## Cleaning Data

In [10]:
attributes = df[['attr','sinc','intel','fun','like','int_corr',"dec", "gender", 
                 "amb", "samerace", "exphappy", "prob"]]

In [11]:
attributes.isnull().sum()

attr        202
sinc        277
intel       296
fun         350
like        240
int_corr    158
dec           0
gender        0
amb         712
samerace      0
exphappy    101
prob        309
dtype: int64

In [12]:
attributes_clean = attributes.dropna()

In [13]:
attributes_clean.describe()

,attr,sinc,intel,fun,like,int_corr,dec,gender,amb,samerace,exphappy,prob
count,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000
mean,6.177874,7.160441,7.354953,6.393336,6.121880,0.196182,0.428161,0.504242,6.767241,0.396004,5.526409,5.231390
std,1.945595,1.743730,1.551310,1.946531,1.833296,0.304534,0.494846,0.500016,1.790333,0.489099,1.743192,2.128123
min,0.000000,0.000000,0.000000,0.000000,0.000000,-0.830000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,5.000000,6.000000,6.000000,5.000000,5.000000,-0.020000,0.000000,0.000000,6.000000,0.000000,5.000000,4.000000
50%,6.000000,7.000000,7.000000,7.000000,6.000000,0.210000,0.000000,1.000000,7.000000,0.000000,6.000000,5.000000
75%,8.000000,8.000000,8.000000,8.000000,7.000000,0.430000,1.000000,1.000000,8.000000,1.000000,7.000000,7.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,0.910000,1.000000,1.000000,10.000000,1.000000,10.000000,10.000000

## Split Genders

In [14]:
attr_clean_women = attributes_clean[attributes_clean["gender"]==0]
attr_clean_women = attr_clean_women.drop(["gender"], axis=1)
attr_clean_men = attributes_clean[attributes_clean["gender"]==1]
attr_clean_men = attr_clean_men.drop(["gender"], axis=1) 
attributes_clean = attributes_clean.drop(["gender"],axis=1)

## Train/Validation/Test Split

In [40]:
attr_clean_women_label = attr_clean_women[["dec"]]
attr_clean_women_features = attr_clean_women.drop(["dec"], axis = 1)

attr_clean_men_label = attr_clean_men[["dec"]]
attr_clean_men_features = attr_clean_men.drop(["dec"], axis = 1)

In [41]:
from sklearn.model_selection import train_test_split

wX_train, wX_test, wy_train, wy_test = train_test_split(attr_clean_women_features, 
                                                        attr_clean_women_label, 
                                                        test_size=0.2)

mX_train, mX_test, my_train, my_test = train_test_split(attr_clean_men_features, 
                                                        attr_clean_men_label, 
                                                        test_size=0.2)

In [42]:
wX_train, wX_val, wy_train, wy_val = train_test_split(wX_train, 
                                                        wy_train, 
                                                        test_size=0.3)

mX_train, mX_val, my_train, my_val = train_test_split(mX_train, 
                                                        my_train, 
                                                        test_size=0.3)

## Save CSVs

In [47]:
wX_train.to_csv('wXtrain.csv',index=False)
wX_val.to_csv('wXval.csv',index=False)
wX_test.to_csv("wXtest.csv",index=False)

wy_train.to_csv('wytrain.csv',index=False)
wy_val.to_csv('wyval.csv',index=False)
wy_test.to_csv('wytest.csv',index=False)

mX_train.to_csv('mXtrain.csv',index=False)
mX_val.to_csv('mXval.csv',index=False)
mX_test.to_csv("mXtest.csv",index=False)

my_train.to_csv('mytrain.csv',index=False)
my_val.to_csv('myval.csv',index=False)
my_test.to_csv("mytest.csv",index=False)