In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("../../Speed Dating Data.csv")

## Cleaning Data

In [5]:
attributes = df[['attr','sinc','intel','fun','like','int_corr', 'match',"dec", "gender", 
                 "amb", "samerace", "exphappy", "prob"]]

In [7]:
attributes.isnull().sum()

attr        202
sinc        277
intel       296
fun         350
like        240
int_corr    158
match         0
dec           0
gender        0
amb         712
samerace      0
exphappy    101
prob        309
dtype: int64

In [8]:
attributes_clean = attributes.dropna()

In [15]:
attributes_clean.describe()

,attr,sinc,intel,fun,like,int_corr,match,dec,amb,samerace,exphappy,prob
count,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000
mean,6.177874,7.160441,7.354953,6.393336,6.121880,0.196182,0.169951,0.428161,6.767241,0.396004,5.526409,5.231390
std,1.945595,1.743730,1.551310,1.946531,1.833296,0.304534,0.375615,0.494846,1.790333,0.489099,1.743192,2.128123
min,0.000000,0.000000,0.000000,0.000000,0.000000,-0.830000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,5.000000,6.000000,6.000000,5.000000,5.000000,-0.020000,0.000000,0.000000,6.000000,0.000000,5.000000,4.000000
50%,6.000000,7.000000,7.000000,7.000000,6.000000,0.210000,0.000000,0.000000,7.000000,0.000000,6.000000,5.000000
75%,8.000000,8.000000,8.000000,8.000000,7.000000,0.430000,0.000000,1.000000,8.000000,1.000000,7.000000,7.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,0.910000,1.000000,1.000000,10.000000,1.000000,10.000000,10.000000

## Split Genders

In [10]:
attr_clean_women = attributes_clean[attributes_clean["gender"]==0]
attr_clean_women = attr_clean_women.drop(["gender"], axis=1)
attr_clean_men = attributes_clean[attributes_clean["gender"]==1]
attr_clean_men = attr_clean_men.drop(["gender"], axis=1) 
attributes_clean = attributes_clean.drop(["gender"],axis=1)

## Train/Validation/Test Split

## Save CSVs